In [49]:
#import dependencies
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [50]:
#clean data
wine_dataframe=pd.read_csv("Resources/wine_dataset.csv")
wine_dataframe_clean=wine_dataframe.drop(["Unnamed: 0","region_2"], axis=1)
wine_dataframe_clean

,country,description,designation,points,price,province,region_1,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Toro,Tinta de Toro,Bodega Carmen RodrÃ­guez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La BÃ©gude, named af...",La BrÃ»lade,95,66.0,Provence,Bandol,Provence red blend,Domaine de la BÃ©gude
...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",CuvÃ©e Prestige,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut RosÃ©,90,52.0,Champagne,Champagne,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,Pinot Grigio,Alois Lageder

In [51]:
clean_wine_data=wine_dataframe_clean.dropna()
clean_wine_data

,country,description,designation,points,price,province,region_1,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum SelecciÃ³n Especial Reserva,96,110.0,Northern Spain,Toro,Tinta de Toro,Bodega Carmen RodrÃ­guez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La BÃ©gude, named af...",La BrÃ»lade,95,66.0,Provence,Bandol,Provence red blend,Domaine de la BÃ©gude
...,...,...,...,...,...,...,...,...,...
150923,France,"Rich and toasty, with tiny bubbles. The bouque...",Demi-Sec,91,30.0,Champagne,Champagne,Champagne Blend,Jacquart
150924,France,"Really fine for a low-acid vintage, there's an...",Diamant Bleu,91,70.0,Champagne,Champagne,Champagne Blend,Heidsieck & Co Monopole
150926,France,"Offers an intriguing nose with ginger, lime an...",CuvÃ©e Prestige,91,27.0,Champagne,Champagne,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut RosÃ©,90,52.0,Champagne,Champagne,Champagne Blend,Gosset

In [75]:
#count breakdown
points_count=clean_wine_data["points"].value_counts().tolist()
points_labels=clean_wine_data["points"].unique()
points_labels
points_count

#chart for point breakdown
plt.bar(points_labels,points_count, color='b')

plt.title("Wine Point Count")
plt.xlabel("Points Won by Wines in Dataset")
plt.ylabel("Frequency of Points")

In [74]:
variety_count=clean_wine_data["variety"].value_counts().tolist()
variety_labels=clean_wine_data["variety"].unique()

#variety chart
plt.bar(variety_labels,variety_count, color='b')
plt.title("Wine Variety Count")
plt.xlabel("Wine Varieties")
plt.ylabel("Number of Wines Varieties")

Text(30.833333333333336, 0.5, 'Wine Variety')

In [54]:
winery_count=clean_wine_data["winery"].value_counts().tolist()
winery_labels=clean_wine_data["winery"].unique()

#winery chart
plt.bar(winery_labels,winery_count, color='b')
plt.title("Winery Count")
plt.xlabel("Wineries")
plt.ylabel("Frequency of Wineries in Dataset")

                           winery
Williams Selyem               302
Testarossa                    264
Kendall-Jackson               214
Columbia Crest                212
Trapiche                      184
...                           ...
Beldui                          1
Vignobles Boissonneau           1
Cellers Grifoll Declara         1
Trou de Bonde                   1
Chateau de l'OiseliniÃ¨re       1

[8652 rows x 1 columns]

In [72]:
country_count=clean_wine_data["country"].value_counts().tolist()
country_labels=clean_wine_data["country"].unique()

#variety chart
plt.bar(country_labels,country_count, color='b')
plt.title("Country Count for Wine in Dataset")
plt.xlabel("Countries the Wines are from")
plt.ylabel("Country Frequency")

[40061, 13422, 9995, 6457, 3899, 3307, 143]

In [59]:
price_count_df=clean_wine_data[["price","points"]]
price_count_df

#summary stats: price and points
summary=clean_wine_data.groupby(["points"])
mean_by_points=summary["price"].mean()
median_by_points=summary["price"].median()

mean_by_points
median_by_points

points
80      16.0
81      15.0
82      18.0
83      16.0
84      18.0
85      18.0
86      20.0
87      22.0
88      25.0
89      30.0
90      35.0
91      40.0
92      46.0
93      55.0
94      62.0
95      75.0
96      90.0
97     120.0
98     127.5
99     235.0
100    245.0
Name: price, dtype: float64

In [41]:
winery_count_df=clean_wine_data[["winery","points"]]
winery_count_df

                          winery  points
0                          Heitz      96
1       Bodega Carmen RodrÃ­guez      96
2                       Macauley      96
3                          Ponzi      96
4          Domaine de la BÃ©gude      95
...                          ...     ...
150923                  Jacquart      91
150924   Heidsieck & Co Monopole      91
150926                 H.Germain      91
150927                 Terredora      91
150928                    Gosset      90

[77284 rows x 2 columns]